<ul class="movies-page" id="moviesPage">
  <% @movies.each do |each| %>
    <li class="each-movie">
      <%= link_to "/movies/#{each.id}", class: "movie-anchor" do %>
        <%= image_tag each.poster, class: "movie-image" %>
        <div class="content">
          <h3 class="movie-title"><%= each.title %></h3>
          <p class="movie-rating">Ratings:  <%= number_with_precision(each.average, precision: 1) %></p>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>