<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track'=> 'reload' %>
    <title>IMDb</title>
  </head>
  <body>
    <div class="home-page">
      <div class="header">
        <a href="/home">
          <img
            src="https://res.cloudinary.com/dsiyffj0o/image/upload/v1688446827/IMDb_Internet_Movie_Database_xur1ka.png"
            alt="logo"
            class="home-logo"
        /></a>
        <% if @current && @role%>
          <button class="new-movie" id="addMovie">New Movie</button>
        <%else%>
          <button id="addMovie" style="display: none;"></button>
        <%end%>
        <% if @current %>
          <div class="login-page-container">
           <button class="login-a" id="logout">Logout</button>
          </div>
        <% else %>
          <div class="login-page-container">
            <button class="login-a" id="login">Login</button>
          </div>
        <% end %>
      </div>
      <div class="filter-container">
        <div class="search-form">
          <form id="search-form">
            <input id="query" type="text" class="search-input" placeholder="Search by Title">
            <button type="submit" class="search-btn">Search</button>
            <select id="selectOption" class="select-option">
              <option value="all">All</option>
              <option value="genre">Genre</option>
              <option value="release-year">Release Year</option>
              <option value="rating">Rating</option>
            </select>
            <div id="genreFilter" style="display: none">
              <label class="label">Genre:</label><br/>
              <select id="selectGenre" class="select-option">
                <option value="">All</option>
                <option value="Family">Family</option>
                <option value="Action">Action</option>
                <option value="Drama">Drama</option>
                <option value="Adventure">Adventute</option>
                <option value="Thriller">Thriller</option>
                <option value="Crime">Crime</option>
                <option value="Sci-fi">Sci-fi</option>
              </select>
            </div>
            <div id="yearFilter" style="display: none">
              <label class="label">Year:</label><br/>
             <select id="selectYear" class="select-option">
                <option value="">All</option>
                <% years = @movies.map { |movie| movie.releasedate.year }.uniq %>
                <% years.each do |year| %>
                  <option value="<%= year %>"><%= year %></option>
                <% end %>
              </select>
            </div>
          </form>
        </div>
      </div>
      <div class="movies-container">
        <h1 class="movies-header">Movies:</h1>
        <%=  render 'movie' %>
      </div>
    </div>
    <%= javascript_include_tag 'home', 'data-turbolinks-track'=> 'reload'%>
  </body>
</html>